@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Inconsolata:wght@500&display=swap');

:root {
	--bg: 255, 255, 255;
	--txt: 0, 0, 0;
  --margin: 20px;
}

.dark-theme {
	--bg: 32, 32, 32;
  --bg2: 64, 64, 64;
	--txt: 255, 255, 255;
}

body, div, a, p, span, h1, h2, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
  accent-color: rgba(var(--txt), 0.3);
}

body {
  width: 100vw;
  height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	background: rgba(var(--bg));
	color: rgba(var(--txt));
}

::-moz-selection { /* firefox */
  background: rgba(var(--txt), 0.3);
}
::selection {
  background: rgba(var(--txt), 0.3);
}

input[type="checkbox" i] {
  margin: 0 6px 0 0;
}

main {
	margin: 100px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: center;
}

h1 {
  width: 50vw;
  max-width: 400px;
	margin-bottom: var(--margin);
  cursor: text;
	font-size: 40px;
	font-weight: 800;
}

h1[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: rgba(var(--txt));
}

h2 {
  margin-bottom: var(--margin);
	font-size: 30px;
	font-weight: 800;
}

#list {
	width: 50vw;
	max-width: 400px;
	line-height: 40px;
}

.task input {
	cursor: pointer;
}

.task span {
	cursor: text;
}

.task span[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: rgba(var(--txt), 0.5);
}

.completed span {
	color: rgba(var(--txt), 0.5);
	text-decoration: line-through;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	padding: 40px 50px;
}

footer div {
	cursor: pointer;
  width: 18px;
	height: 18px;
}

footer div:last-of-type {
  margin-left: var(--margin);
}

footer div svg {
	width: 18px;
	height: 18px;
	fill: rgba(var(--txt), 0.5);
}

footer div svg:hover {
	fill: rgba(var(--txt));
}

.modal {
	position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: rgba(var(--bg), 0.8);

}

.modal > div {
  width: min(50%, 450px);
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  padding: 30px;
	border-radius: 5px;
  background: rgba(var(--bg));
	box-shadow:  0px 0px 10px 0px rgba(var(--txt), 0.2);
}

.modal.active {
	display: flex;
}

.dark-mode .modal > div {
	background: rgba(var(--bg2));
	box-shadow: none;
}

.modal > div > p:not(:last-child) {
	margin-bottom: var(--margin);
}

#info input[type="checkbox" i][disabled] {
  margin: 0;
}

#info > div > p > span {
  padding: 2px 5px;
  background: rgba(var(--txt), .1);
  border-radius: 3px;
  font-size: 90%;
  font-family: 'Inconsolata', monospace;
}

#settings > div > p:last-child {
  margin-bottom: calc(var(--margin)/2);
}

#settings > div > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

#settings > div > ul > li:not(:last-child) {
  margin-right: calc(var(--margin)/2);
}

@media only screen and (max-width: 800px) {
	main {
		margin: 50px;
	}
  #settings > div > ul {
    flex-flow: column nowrap;
  }
}
