@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body, div, a, p, span, h1, h2, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

input[type="checkbox" i] {
  margin: 0 8px 0 0;
}

input[type="checkbox" i][disabled] {
  margin: 0;
}

body {
	background: rgba(var(--bg));
	color: rgba(var(--txt));
	height: 100vh;
  min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

::-moz-selection { /* firefox */
  background: rgba(var(--txt), 0.3);
}
::selection {
  background: rgba(var(--txt), 0.3);
}

main {
	margin: 100px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	align-items: center
}

h1 {
	cursor: text;
	font-size: 40px;
	font-weight: 800;
	width: 50vw;
	max-width: 400px;
	margin-bottom: 20px;
}

h1[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: rgba(var(--txt));
}

h2 {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 20px;
}

#list {
	width: 50vw;
	max-width: 400px;
	line-height: 40px;
}

.task input {
	cursor: pointer;

}

.task span {
	cursor: text;

}

.task span[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: rgba(var(--txt), 0.5);
}

.completed span {
	color: rgba(var(--txt), 0.5);
	text-decoration: line-through;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	padding: 40px 50px;
}

footer div {
	cursor: pointer;
  width: 18px;
	height: 18px
}

footer div:last-of-type {
  margin-left: 20px;
}

footer div svg {
	width: 18px;
	height: 18px;
	fill: rgba(var(--txt), 0.5);
}
footer div svg:hover {
	fill: rgba(var(--txt));
}

.modal {
	position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--bg), 0.8);
  z-index: 1;
}

.modal > div {
  width: 400px;
  margin: auto;
  padding: 30px;
	border-radius: 5px;
	display: flex;
  flex-flow: column wrap;
  background: rgba(var(--bg));
	box-shadow:  0px 0px 10px 0px rgba(var(--txt), 0.2);
}

.modal.active {
	display: flex;
}

.dark-mode .modal > div {
	background: rgba(var(--bg2));
	box-shadow: none;
}

#info > div > p:not(:last-child), #settings > div > p:not(:last-child) {
	margin-bottom: 20px;
}

#info > div > p > span {
	color: rgba(var(--txt), 0.7)
}

@media only screen and (max-width: 800px) {
	main {
		margin: 50px;
	}
}

:root {
	--bg: 255, 255, 255;
	--txt: 0, 0, 0;
}
.dark-mode {
	--bg: 32, 32, 32;
  --bg2: 64, 64, 64;
	--txt: 255, 255, 255;
}
